{% load static %}

 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" style="width: 85%; margin: 2% 7.5%;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
      </div>
      <div class="carousel-inner" style="border-radius: 10px; box-shadow: 1px 2px 8px rgba(0,0,0,.45);">
        <div class="carousel-item">
           <img src="https://i.pinimg.com/1200x/c6/54/1b/c6541baea1a08ce3d51dc86c4d1e400d.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item">
           <img src="https://i.pinimg.com/1200x/4c/f0/2d/4cf02d9cfdf40adee11ae52493b712a3.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;">
        </div>
        <div class="carousel-item active">
          <img src="https://i.pinimg.com/736x/f8/d3/7b/f8d37bda5a2dcad7272c86b524c3229a.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
